<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<style>
	#divResult{
		color : red;
		font-size: 20pt;
	}
	</style>
	<title>Math Calculator - 2</title>
	<script src="angular.min.js"></script>
	<script>
		//Model
		function MathCalculator(){
			this.number1 = 0;
			this.number2 = 0;
			this.result = 0;
		}
		MathCalculator.prototype.add = function(){
			this.result = this.number1 + this.number2;
		};
		MathCalculator.prototype.subtract = function(){
			this.result = this.number1 - this.number2;
		};
		MathCalculator.prototype.multiply = function(){
			this.result = this.number1 * this.number2;
		};
		MathCalculator.prototype.divide = function(){
			this.result = this.number1 / this.number2;
		};

		//View
		var myApp = angular.module("myApp", []);
		myApp.controller("mathCalculatorController", function($scope){
			$scope.calculator = new MathCalculator();
			$scope.operator = '';
			$scope.calculate = function(){
				$scope.calculator[$scope.operator]();
				/*switch($scope.operator){
					case 'add':
						$scope.calculator.add();
						break;
					case 'subtract':
						$scope.calculator.subtract();
						break;
					case 'multiply':
						$scope.calculator.multiply();
						break;
					case 'divide':
						$scope.calculator.divide();
						break;
				}*/
			}
		})
	</script>
</head>
<body ng-app="myApp">
	<h1>Math Calculator - 2</h1>
	<div class="content" ng-controller="mathCalculatorController">
		<input type="number" ng-model="calculator.number1">
		<select ng-model="operator">
			<option value="add">Add</option>
			<option value="subtract">Subtract</option>
			<option value="multiply">Multiply</option>
			<option value="divide">Divide</option>
		</select>
		<input type="number" ng-model="calculator.number2">
		<input type="button" value="Calculate" ng-click="calculate()">
		<div id="divResult" ng-bind="calculator.result"></div>
	</div>
</body>
</html>