<div class="content">

	<section class="stats">
		<span class="closed">{{ bugs | closedCount }}</span>
		<span>/</span>
		<span>{{bugs.length}}</span>
	</section>
	<section class="search">
		<label for="">Search :</label>
		<input type="text" ng-model="searchBug.name">
		<label for="">Closed ? :</label>
		<input type="checkbox" ng-model="searchBug.isClosed">
		<input type="button" value="Show All" ng-click="searchBug.isClosed=''">
	</section>
	<section class="sort">
		<label for="">Order By :</label>
		<select ng-model="sortBugBy" ng-init="sortBugBy='name'">
			<option value="name">Name</option>
			<option value="isClosed">Status</option>
		</select>
		<label for="">Descending ? :</label>
		<input type="checkbox" ng-model="sortByDescending">
	</section>
	
	<section class="list">
		<a href="#/new">Create New</a>
		<ol>
			<li ng-repeat="bug in (bugs | filter:searchBug | orderBy:sortBugBy:sortByDescending)">
				<bug-item bug-data="bug"></bug-item>
			</li>
		</ol>
		<input type="button" value="Remove Completed" ng-click="removeClosed()">
	</section>
	</div>

